language: java
addons:
  firefox: "56.0"
  apt:
    packages:
      - xvfb
sudo: false
before_install:
 # firefox will polute log with warnings/errors   
  - sudo apt-get install dbus dbus-x11 
 # Use a virtual display.
  - "export DISPLAY=:99.0"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1920x1080x16"
jdk:
  - oraclejdk8
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - ./.travis-publishOnRelease.sh
